// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "./kanso/startup.kdl"
include "./kanso/binds.kdl"
include "./kanso/environment.kdl"
include "./kanso/inputs.kdl"
include "./kanso/outputs.kdl"
include "./kanso/animations.kdl"
include "./kanso/misc.kdl"
include "./kanso/layout.kdl"
include "./kanso/window-rules.kdl"
include "./noctalia.kdl"
// most window effects are present in the "window-effects.kdl" it gets removed and re added via a noctalia hook for performace mode.
include "./kanso/window-effects.kdl"
