hotkey-overlay {
    // skip-at-startup
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 30000
}

// switch-events {
//     lid-close { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "lock"; }
// }
overview {
    zoom 0.4
    // Optionally, disable the workspace shadows in the overview.
    workspace-shadow {
        on
    }

}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}
