// Enable blur behind windows.
window-rule {
    match app-id=""
    opacity 0.86
    background-effect {
        blur true
    }
}

// Enable blur behind the fuzzel launcher.
layer-rule {
    match namespace="^launcher$"
    opacity 0.8
    background-effect {
        blur true
    }
}
window-rule {
    match app-id=""
    opacity 0.8
    match is-floating=true
    background-effect {
        xray false
    }
    shadow {
        // on
        on
        softness 40
        spread 5
        offset x=0 y=5
        draw-behind-window true
        inactive-color "#00000100"
    }
}
blur {
    // off
    passes 3
    offset 3
    noise 0.04
    saturation 1.6
}


layer-rule {
  match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
  match namespace="kitty-quick-access"
  opacity 0.8
  background-effect {
    xray false
  }
  shadow {
    on
    softness 40
    spread 5
    offset x=0 y=5
    draw-behind-window true
    inactive-color "#00000100"
  }
}

layout {
    gaps 8
    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}
animations {
    on
}
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
